{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %} Blog Management System {% endblock %}
    <link rel="style" href="{% static "style.css" %}}">
</head>
<body>
    <nav>
        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">
              Logout
            </button>
          </form>
            | <a href="{% url 'create_post' %}">Create Post</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>   
        {% endif %}
    </nav>
    
    <header>
        {% block content %}
        <h1>Welcome to the Blog Management System</h1>
        {% endblock %}
    </header>
    <main>
        <hr>
        {% csrf_token %}
        {% for post in posts %}
            <div class="post" style="margin-bottom: 30px;">
                <h2>{{ post.title }}</h2>

                <p>{{ post.content|truncatewords:30 }}</p>
                <p><strong>Author:</strong> {{ post.author.username }}</p>
                <p><strong>Created:</strong> {{ post.created|date:"M d, Y H:i" }}</p>

                {% if request.user == post.author or request.user.is_superuser %}
                    <a href="{% url 'edit_post' post.id %}">Edit</a> |
                    <a href="{% url 'delete_post' post.id %}">Delete</a>
                {% endif %}
            </div>
            <hr>
       
        {% empty %}
        {% block  p %}No posts yet. {%endblock%} 
        {% endfor %}
    </main>
    

    <footer>
        &copy; 2025 Your Blog Management System
    </footer>
</body>
</html>
